<div  
    class="flex justify-start bg-white border-black border-[3px]  p-4 rounded-md shadow-lg cursor-pointer" >
    <div class="w-[80%]">
    <div class="text-3xl ">{{this.project.title}}</div>
    <div>{{this.project.description}}</div>
    <a [href]="this.project.link" target="_blank" class="text-blue-400">{{this.project.link}}</a>
    </div>
    <div *ngIf="viewAll" class="flex justify-start">
        <input class="z-50" [(ngModel)]="this.project.isVisible" type="checkbox">
    </div>
</div>
