<div  
    class="flex justify-start bg-white border-black border-[3px] p-4 rounded-md shadow-lg cursor-pointer">
    <div class="w-[80%]">
        <div class="text-3xl">{{this.project.title}}</div>
        <div>{{this.project.shortDescription}}</div>
        <a [href]="this.project.link" target="_blank" rel="noopener noreferrer" class="text-blue-400">{{this.project.link}}</a>
    </div>
    <div *ngIf="viewAll" class="flex items-center ml-4">
        <label class="flex items-center space-x-2">
            <input class="hidden" (click)="Update(this.project)" [(ngModel)]="this.project.isVisible" type="checkbox">
            <div class="w-6 h-6 bg-gray-200 border-2 border-gray-400 rounded-md flex items-center justify-center">
                <svg *ngIf="this.project.isVisible" class="w-4 h-4 text-green-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
            </div>
            <span>Visible</span>
        </label>
    </div>
    <div class="w-[20%]">
        <img *ngIf="imageURL" [src]="imageURL" alt="{{project.title}}" class="w-full h-auto rounded-md">
    </div>
</div>