
 <div class=" flex flex-col items-center m-16 ">
<div id="about" class="bg-white w-full border-black border-[3px] p-4 rounded-md shadow-lg mb-8">
    <h2 class="text-3xl font-bold mb-4">About this project</h2>
    <p class="text-gray-700">To use this project you need to also run the backend app that you can fint at: https://github.com/Bamorial/DemoAPI . There are no projects loaded so feel free to add some projects and play with them.</p>
</div>

<!-- Contact Section -->
<div id="contact" class="bg-white w-full border-black border-[3px] p-4 rounded-md shadow-lg">
    <h2 class="text-3xl font-bold mb-4">Contact</h2>
    <p class="text-gray-700">Feel free to reach out to me at <a href="mailto:veltandev@gmail.com" class="text-blue-400">veltandev&#64;gmail.com</a>.</p>
</div>
 </div>
